.homeMapas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ede8e0;
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.HomeContainer h1 {
    font-size: 5em;
    font-weight: bold;
    max-width: 200px;
}

.HomeContainer h2 {
    font-size: 2em;
}

.HomeContainer p {
    max-width: 400px;
    font-size: 20px;
    color: #919791;
}