.back {
    background-image: url(../../assets/backHomeAgents.jpg);
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
}

.imgContainerAgentes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainerAgentes img {
    margin-top: 70px;
}

.footerAgent {
    padding: 40px;
    background-color: #282829;
    color: white;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.footerAgent p,
span {
    font-size: 20px;
    font-weight: bold;
}

.slider {
    color: white;
    position: absolute;
    top: 0px;
    left: 200px;
}

.slider h3 {
    font-size: 4em;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;


}

.slider h3:hover {
    transform: translateY(-10px);
    /*  color: #ff4655; */
}